# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Archives
*.xcarchive

# Distribution
*.app
*.dmg
*.pkg